@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Realize Autenticação para Acessar o sistema</h3>
    @Html.HiddenFor(w => w.userid)
</div>

